body{
    font-family: 'Alegreya Sans SC', serif;
    background-image: url("../images/concrete_seamless.png");
    background-repeat: repeat;
    background-color: #f1f1f1;
}
body > header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav_links{
    display: flex;
    flex-direction: column;
}
a:link, a:visited {
    color: #0000EE;
}
#pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pricing > *{
    width: 450px;
}
.card header{
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}
#logo{
    animation-name: changewidth;
    animation-duration: 5s;
}
@keyframes changewidth{
    from {width: 50px; opacity: 0;}
    to {width: 425px; opacity: 1;}
}
@media screen and (min-width: 850px){
    body > header{
        position: fixed;
        width: 100%;
        top: 0;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav_links{
        flex-direction: row;
        justify-content: space-between;
    }
    .pricing{
        flex-direction: row;
    }
    .pricing > *{
        flex-basis: 250px;
    }
}
@media screen and (prefers-reduced-motion: reduce) {
    #logo{
        animation: none;
    }
}
@media print{
    body{
        background-image: none;
    }
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .pricing{
        flex-direction: row;
        align-items: flex-end;
    }
    .pricing > *{
        border: solid 2px #45ADDD;
        flex-basis: 250px;
    }
    #gallery{
        display: none;
    }
    .gallery{
        display: none;
    }
}